@{
    ViewData["Title"] = "Home Page";
}
<h1>Enter Your Information</h1>
        <form action="process" method="post" style="display: inline-block; width: 150px;">
            First Name:<input type="text" name="firstName">
            <br>
            <br>
            Last Name:<input type="text" name="lastName">
            <br>
            <br>
            Age:<input type="text" name="age">
            <br>
            <br>
            Email Address:<input type="text" name="email">
            <br>
            <br>
            Password:<input type="password" name="password">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>